
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

@*Start body*@
<center>
    <div class="mt-5 p-5 bg-dark rounded text-white">
        <h1>Hello from Login</h1>
        <p>Group one</p>
    </div>
</center>
@*End body*@

