
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

@*Start body*@
<center>
    <div class="mt-5 p-5 bg-warning rounded">
        <h1>Hello from Register</h1>
        <p>Group one</p>
    </div>
</center>
@*End body*@

